.links{
    float: right;
}
.name{
    padding: 20px;
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    color: white;
}
body{
    background-color:rgb(229, 146, 4)
}
.about{
    font-size: 21px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mission{
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
}
#img1{
    float: left;
    width: 500px;
    height: 500px;
}
.positioning{
    position: absolute;
    width: 70%;
    right: 15%;
    top: 25%;
}
p{
    color: white;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social-img{
    width: 300px;
    height: 300px;
}
.social-img-small{
    width: 50px;
    height: 50px;
}
footer{
    font-size: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}